:root {
    --color-primary: #ff6600;
    --color-primary-90: #ff660090;
    --color-primary-60: #ff660060;
    --color-primary-30: #ff660030;
    --color-primary-10: #ff660010;
    --color-primary-05: #ff660005;
}