@page "/"

<PageTitle>Página inicial</PageTitle>

<div class="card overflow-hidden">
	<div class="row g-0">
		<div class="col-md-7">
			<div class="card-body">

				<h5 class="card-title p-3">
					Venha para o nosso programa de indicação!
				</h5>

				<p class="card-text px-3">
					Com ele você ganha R$ 100 para cada indicação realizada! É só compartilhar um link exclusivo para o seu amigo empresário.
					<br><br>
					Leve facilidade e flexibilidade para a contabilidade para os demais empresários!
				</p>

				<p class="card-body d-grid mb-0">
					<a href="#" class="btn-orange">Indicar um amigo!</a>
				</p>

			</div>
		</div>
		<div class="col-md-5">
			<img src="images/card-image.png" class="img-fluid" alt="imagem de uma pessoa no card">
		</div>
	</div>
</div>