@page "/notas-servico/consultar"

<PageTitle>Notas de Serviço - Consultar</PageTitle>

<section id="filter-group">
	<div class="issue-date-filter">
		<label for="issue-input-filter" class="input-text">
			Filtrar data de emissão
		</label>
		<div class="input-filter" id="issue-input-filter">
			<input type="date" placeholder=""/>
		</div>
	</div>
</section>

<section id="dashboard">
	Opa fi
</section>

@code {

}
