<header>
	<div class="header-1">
		<div class="icon">
			<img src="icons/menu.svg" />
		</div>
	</div>
	<div class="header-2">
		<div class="icon">
			<img src="icons/notifications.svg" />
		</div>
		<div class="avatar">
			<img src="images/avatar.jpg" />
		</div>
	</div>
</header>

@code {

}
