@using NotaSoft.Components.Views

<header>
	<div class="header-1">
		<MenuLogo />
	</div>
	<div class="header-2">
		<div>
			<div class="icon" data-bs-toggle="dropdown">
				<img src="icons/notifications.svg" />
			</div>
			<ul class="dropdown-menu">
				<li class="dropdown-item">Sem notificações</li>
				@* <li><a class="dropdown-item" href="#">Action</a></li> *@
			</ul>
		</div>
		<div class="avatar">
			<img src="images/avatar.jpg" />
		</div>
	</div>
</header>

@code {

}
