nav {
    position: absolute;
    top: 0px;
    left: -248px;
    height: 100vh;
    width: 248px;
    border-right: 1px solid var(--color-primary-90);
    background-image: linear-gradient(var(--color-primary-30), var(--color-primary-30)), linear-gradient(#ffffff, #ffffff);
    padding: 8px 16px;
    transition: transform 0.15s ease;
}

#nav-oppacity {
    position: absolute;
    top: 0;
    left: 248px;
    width: calc(100vw - 248px);
    height: 100vh;
    background-color: #ffffff60;
    display: none;
}

.nav-content {
    padding: 16px 0;
}

.nav-item {
    height: 48px;
    width: 100%;
    border-radius: 12px;
}

    .nav-item.active, .nav-item.active:hover {
        background: var(--color-primary-90);
    }

    .nav-item .text {
        flex-grow: 1;
    }

    .nav-item:hover {
        background: var(--color-primary-30);
    }

a {
    height: 100%;
    padding: 12px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #121212;
}

.caret-icon {
    zoom: 0.8;
}