@using NotaSoft.Components.Views

<nav id="side-nav">
	<div id="nav-oppacity"></div>
	<MenuLogo section="menu-nav" />

	<div class="nav-content">

		@* Home *@
		<div class="nav-item active">
			<a href="/">
				<div class="icon">
					<i class="bi bi-house-fill h5 me-3"></i>
				</div>
				Página inicial
			</a>
		</div>

		@* Notas de serviço *@
		<div class="nav-item">
			<a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
				<div class="icon">
					<i class="bi bi-file-earmark-text h5 me-3"></i>
				</div>

				<div class="text">
					Notas de serviço
				</div>

				<div class="caret-icon">
					<i class="bi bi-caret-right-fill"></i>
				</div>
			</a>
		</div>

		<div class="collapse nav-items-group" id="collapseExample">
			<div class="nav-item nav-item-group">
				<a href="/notas-servico/consultar">
					<div class="icon">
						<i class="bi bi-graph-up h5 me-3"></i>
					</div>
					<div class="text">
						Dashboard
					</div>
				</a>
			</div>			
			
			<div class="nav-item nav-item-group">
				<a href="/notas-servico/lista">
					<div class="icon">
						<i class="bi bi-table h5 me-3"></i>
					</div>
					<div class="text">
						Lista de notas
					</div>
				</a>
			</div>
		</div>

		@* Pendências *@
		<div class="nav-item">
			<a href="/">
				<div class="icon">
					<i class="bi bi-exclamation-triangle h5 me-3"></i>
				</div>

				<div class="text">
					Pendências
				</div>
			</a>
		</div>

		@* Minha empresa *@
		<div class="nav-item">
			<a href="/">
				<div class="icon">
					<i class="bi bi-building h5 me-3"></i>
				</div>

				<div class="text">
					Minha empresa
				</div>
			</a>
		</div>

		@* Meu plano *@
		<div class="nav-item">
			<a href="/">
				<div class="icon">
					<i class="bi bi-bag-check h5 me-3"></i>
				</div>

				<div class="text">
					Meu plano
				</div>
			</a>
		</div>

	</div>
</nav>



@code {

}
