nav {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 248px;
    border: 1px solid black;
    background-image: linear-gradient(var(--color-primary-30), var(--color-primary-30)), linear-gradient(#ffffff, #ffffff);
    padding: 8px 16px;
    transition: transform 0.15s ease;
}