@using NotaSoft.Components.Views

<nav id="side-nav">
	<div id="nav-oppacity"></div>
	<MenuLogo section="menu-nav" />

	<div class="nav-content">

		@* Home *@
		<div class="nav-item active">
			<a href="/">
				<div class="icon">
					<i class="bi bi-house-fill h5 me-3"></i>
				</div>
				Página inicial
			</a>
		</div>

		@* Notas de serviço *@
		<div class="nav-item">
			<a href="/">
				<div class="icon">
					<i class="bi bi-file-earmark-text h5 me-3"></i>
				</div>

				<div class="text">
					Notas de serviço
				</div>

				<div class="caret-icon">
					<i class="bi bi-caret-right-fill"></i>
				</div>
			</a>
		</div>

	</div>
</nav>



@code {

}
