<div class="menu-logo">
	<div class="icon" id="@(section)">
		<img src="icons/menu.svg" />
	</div>
	<div class="logo">
		<a href="/">
			<img src="logo/notasoft.png" />
		</a>
	</div>
</div>

<script>
	function hideNav() {
		$("#side-nav").css("transform", "translateX(0)");
		$("#nav-oppacity").css("display", "none");
	}

	function showNav() {
		$("#side-nav").css("transform", "translateX(248px)");
		$("#nav-oppacity").css("display", "block");
	}

	// If click on nav oppacity hide nav
	$("#nav-oppacity").on("click", () => {
		hideNav();
	})
	// Hide side nav
	$("#menu-nav").on("click", () => {
		hideNav();
	});
	// Show side nav
	$("#menu-header").on("click", () => {
		showNav();
	});
</script>

@code {
	[Parameter]
	public string section { get; set; } = "menu-header";
}
