#dashboard {
    position: absolute;
    top: 56px;
    left: 300px;
    padding: 32px;
    width: calc(100vw - 300px);
    height: calc(100vh - 56px);
    box-sizing: border-box;
}

.chart-line {
    background-color: var(--color-primary-05);
    padding: 32px;
    border: 1px solid var(--color-primary-60);
    border-radius: 12px;
}

.chart-line-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.title-1 {
    font-size: 2rem;
    letter-spacing: 1px;
}

.subtitle-1 {
    font-size: 1rem;
    letter-spacing: 1px;
    color: #555555;
}

.title-2 {
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-top: 4px;
}

.subtitle-2 {
    font-size: 0.95rem;
    letter-spacing: 1px;
    color: #555555;
}

.section-2 {
    display: flex;
    flex-direction: row;
    gap: 32px;
}